body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f2d2bd;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

img {
  border-radius: 0.5rem;
}

#evil-button {
  position: absolute;
  white-space: nowrap;
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.card h2 {
  text-align: center;
  color: #770737;
  font-weight: 600;
  font-size: 20px;
}

.button-container {
  display: flex;
}

a {
  padding: 1rem;
  border-radius: 0.7rem;
  text-decoration: none;
}

.positive-link {
  background-color: #811331;
  color: white;
}

.positive-link:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.negative-link {
  background-color: white;
  color: #811331;
  border: 1px solid #811331;
}
